/* ==UserStyle==
@name Switcher for DeepDark Themes
@namespace gitlab.com/RaitaroH/Import-All-Deepdark-DeepDark
@homepageURL https://gitlab.com/RaitaroH/Import-All-Deepdark-DeepDark
@version 1.0.6
@updateURL https://gitlab.com/RaitaroH/Import-All-Deepdark/raw/master/switcher.user.css
@description Change the colors for all DeepDark themes fast
@author RaitaroH
@license GNU-V3.0

@preprocessor uso
@var select mainColor 'Main color' {
	"DeepDark": "#00adee",
	"BreezeDark": "#3DAEE9",
	"Vertex Dark": "#4080fb",
	"Arc Dark": "#5294E2",
	"Firefox Dark": "#5675B9",
	"Firefox57": "#4080FB",
	"Discord": "#7289DA",
	"YouTubeDark": "#E52117",
	"YouTubeLight": "#E52117",
	"Mint-Y-Dark": "#9AB87C",
	"9anime": "#723f8c",
	"Black&White": "#ffffff",
	"Yellow_petrocompletions": "#FFC700",
	"Yellow2": "#FFC700",
	"Ubuntu_grey": "#EF7847",
	"Ubuntu_purple": "#EF7847",
	"Orange": "#ff6905",
	"Jisho_夜明け": "#EF7D6C",
	"Adapta Nokto": "#00bcd4",
	"Adapta Breath Nokto": "#1abc9c",
	"Solarized": "#268BD2",
	"Gruvbox Dark": "#fe8019",
	"Gruvbox Light": "#af3a03",
	"Custom": "/*[[custom-main-color]]*\/"
}
@var color custom-main-color "Custom main color" #00adee"

@var select mainBackground 'Main background color' {
	"DeepDark": "#111111",
	"BreezeDark": "#232629",
	"Vertex Dark": "#2B2B2C",
	"Arc Dark": "#343944",
	"Firefox Dark": "#272B35",
	"Firefox57": "#0C0C0D",
	"Discord": "#1E2124",
	"YouTubeDark": "#111111",
	"YouTubeLight": "#F9F9F9",
	"Mint-Y-Dark": "#2F2F2F",
	"9anime": "#0B0A0D",
	"Black&White": "#000000",
	"Yellow_petrocompletions": "#141414",
	"Yellow2": "#0a0800",
	"Ubuntu_grey": "#312D2A",
	"Ubuntu_purple": "#2C071A",
	"Orange": "#0a0400",
	"Jisho_夜明け": "#332222",
	"Adapta Nokto": "#222d32",
	"Solarized Dark": "#073642",
	"Solarized Light": "#FDF6E3",
	"Gruvbox Dark": "#1d2021",
	"Gruvbox Light": "#f9f5d7",
	"Custom": "/*[[custom-main-background]]*\/"
}
@var color custom-main-background "Custom main background" "#111111"

@var select secondBackground 'Second background color' {
	"DeepDark": "#181818",
	"BreezeDark": "#2a2e32",
	"Vertex Dark": "#353638",
	"Arc Dark": "#383C4A",
	"Firefox Dark": "#181D20",
	"Firefox57": "#252526",
	"Discord": "#2F3136",
	"YouTubeDark": "#232323",
	"YouTubeLight": "#FFFFFF",
	"Mint-Y-Dark": "#383838",
	"9anime": "#17151C",
	"Black&White": "#0a0a0a",
	"Yellow_petrocompletions": "#202222",
	"Yellow2": "#0c0a04",
	"Ubuntu_grey": "#3D3C38",
	"Ubuntu_purple": "#430B28",
	"Orange": "#0e0702",
	"Jisho_夜明け": "#2A1B1B",
	"Adapta Nokto": "#263238",
	"Solarized Dark": "#03303C",
	"Solarized Light": "#F5EFDC",
	"Gruvbox Dark": "#282828",
	"Gruvbox Light": "#fbf1c7",
	"Custom": "/*[[custom-second-background]]*\/"
}
@var color custom-second-background "Custom second background" "#181818"

@var select hoverBackground 'Hover background color' {
	"DeepDark": "#232323",
	"BreezeDark": "#31363b",
	"Vertex Dark": "#515254",
	"Arc Dark": "#414A59",
	"Firefox Dark": "#353A44",
	"Firefox57": "#323234",
	"Discord": "#484B51",
	"YouTubeDark": "#343434",
	"YouTubeLight": "#EAEAEA",
	"Mint-Y-Dark": "#404040",
	"9anime": "#1E1C25",
	"Black&White": "#0f0f0f",
	"Yellow_petrocompletions": "#353838",
	"Yellow2": "#0f0d05",
	"Ubuntu_grey": "#59564D",
	"Ubuntu_purple": "#520D30",
	"Orange": "#110903",
	"Jisho_夜明け": "#863B2F",
	"Adapta Nokto": "#2a353b",
	"Solarized Dark": "#002B36",
	"Solarized Light": "#EEE8D5",
	"Gruvbox Dark": "#3c3836",
	"Gruvbox Light": "#ebdbb2",
	"Custom": "/*[[custom-hover-background]]*\/"
}
@var color custom-hover-background "Custom hover background" "#232323"

@var select mainText 'Main text color' {
	"DeepDark": "#eff0f1",
	"BreezeDark": "#eff0f1",
	"Vertex Dark": "#F3F3F5",
	"Arc Dark": "#C1C8D1",
	"Firefox Dark": "#E3EEF9",
	"Firefox57": "#F9F9FA",
	"Discord": "#FFFFFF",
	"YouTubeDark": "#E1E1E1",
	"YouTubeLight": "#111111",
	"Mint-Y-Dark": "#FFFFFF",
	"9anime": "#B4B4B4",
	"Black&White": "#b4b4b4",
	"Yellow_petrocompletions": "#EFF0F1",
	"Yellow2": "#fffdf5",
	"Ubuntu_grey": "#F2F1EF",
	"Ubuntu_purple": "#F2F1EF",
	"Orange": "#fff9f5",
	"Jisho_夜明け": "#EFB26C",
	"Adapta Nokto": "#FFFFFF",
	"Solarized Dark": "#FDF6E3",
	"Solarized Light": "#073642",
	"Gruvbox Dark": "#fbf1c7",
	"Gruvbox Light": "#282828",
	"Custom": "/*[[custom-main-text]]*\/"
}
@var color custom-main-text "Custom main text" "#eff0f1"

@var select dimmerText 'Secondary text color' {
	"DeepDark": "#CCCCCC",
	"BreezeDark": "#bdc3c7",
	"Vertex Dark": "#AEAFB0",
	"Arc Dark": "#B3BAC5",
	"Firefox Dark": "#606376",
	"Firefox57": "#D0D0D0",
	"Discord": "#ADA8AA",
	"YouTubeDark": "#7F7F7F",
	"YouTubeLight": "#43434B",
	"Mint-Y-Dark": "#D5DADA",
	"9anime": "#747474",
	"Black&White": "#828282",
	"Yellow_petrocompletions": "#9F9999",
	"Yellow2": "#fff8e1",
	"Ubuntu_grey": "#E6E5E3",
	"Ubuntu_purple": "#E6E5E3",
	"Orange": "#ffede1",
	"Jisho_夜明け": "#986E3F",
	"Adapta Nokto": "#9b9b9b",
	"Solarized Dark": "#EEE8D5",
	"Solarized Light": "#586E75",
	"Gruvbox Dark": "#ebdbb2",
	"Gruvbox Light": "#3c3836",
	"Custom": "/*[[custom-dimmer-text]]*\/"
}
@var color custom-dimmer-text "Custom dimmer text" "#CCCCCC"

@var select colorShadow 'Shadow color' {
	"Default": "rgba(0,0,0,.2)",
	"Custom": "/*[[custom-color-shadow]]*\/"
}
@var color custom-color-shadow "Custom shadow color" "rgba(0,0,0,.2)"

@var select colorRed 'Red color' {
	"Default": "#DA4453",
	"Solarized": "#dc322f",
	"Gruvbox Dark": "#cc241d",
	"Gruvbox Dark Intense": "#fb4934",
	"Gruvbox Light": "#cc241d",
	"Gruvbox Light Intense": "#9d0006",
	"Custom": "/*[[custom-color-red]]*\/"
}
@var color custom-color-red "Custom red color" "#DA4453"

@var select colorGreen 'Green color' {
	"Default": "#27AE60",
	"Solarized": "#859900",
	"Gruvbox Dark": "#98971a",
	"Gruvbox Dark Intense": "#b8bb26",
	"Gruvbox Light": "#98971a",
	"Gruvbox Light Intense": "#79740e",
	"Custom": "/*[[custom-color-green]]*\/"
}
@var color custom-color-green "Custom green color" "#27AE60"

@var select colorYellow 'Yellow color' {
	"Default": "#FDBC4B",
	"Solarized": "#b58900",
	"Gruvbox Dark": "#d79921",
	"Gruvbox Dark Intense": "#fabd2f",
	"Gruvbox Light": "#d79921",
	"Gruvbox Light Intense": "#b57614",
	"Custom": "/*[[custom-color-yellow]]*\/"
}
@var color custom-color-yellow "Custom yellow color" "#FDBC4B"

@var select colorOrange 'Orange color' {
	"Default": "#F79A63",
	"Solarized": "#cb4b16",
	"Gruvbox Dark": "#d65d0e",
	"Gruvbox Dark Intense": "#fe8019",
	"Gruvbox Light": "#d65d0e",
	"Gruvbox Light Intense": "#af3a03",
	"Custom": "/*[[custom-color-orange]]*\/"
}
@var color custom-color-orange "Custom orange color" "#F79A63"

@var select colorBlue 'Blue color' {
	"Default": "#2980b9",
	"Solarized": "#268bd2",
	"Gruvbox Dark": "#458588",
	"Gruvbox Dark Intense": "#83a598",
	"Gruvbox Light": "#458588",
	"Gruvbox Light Intense": "#076678",
	"Custom": "/*[[custom-color-blue]]*\/"
}
@var color custom-color-blue "Custom blue color" "#2980b9"

@var select colorPurple 'Purple color' {
	"Default": "#60459F",
	"Solarized": "#6c71c4",
	"Gruvbox Dark": "#b16286",
	"Gruvbox Dark Intense": "#d3869b",
	"Gruvbox Light": "#b16286",
	"Gruvbox Light Intense": "#8f3f71",
	"Custom": "/*[[custom-color-purple]]*\/"
}
@var color custom-color-purple "Custom purple color" "#60459F"

@var select colorPink 'Pink color' {
	"Default": "#FE9EAD",
	"Solarized": "#d33682",
	"Gruvbox Dark": "#b16286",
	"Gruvbox Dark Intense": "#d3869b",
	"Gruvbox Light": "#b16286",
	"Gruvbox Light Intense": "#8f3f71",
	"Custom": "/*[[custom-color-pink]]*\/"
}
@var color custom-color-pink "Custom pink color" "#FE9EAD"

@var select colorCyan 'Cyan color' {
	"Default": "#1abc9c",
	"Solarized": "#2aa198",
	"Gruvbox Dark": "#689d6a",
	"Gruvbox Dark Intense": "#8ec07c",
	"Gruvbox Light": "#689d6a",
	"Gruvbox Light Intense": "#427b58",
	"Custom": "/*[[custom-color-cyan]]*\/"
}
@var color custom-color-cyan "Custom cyan color" "#1abc9c"

@var select colorGray 'Gray color' {
	"Default": "#c3c3c3",
	"Solarized": "#93A1A1",
	"Gruvbox Dark": "#a89984",
	"Gruvbox Dark Intense": "#928374",
	"Gruvbox Light": "#7c6f64",
	"Gruvbox Light Intense": "#928374",
	"Custom": "/*[[custom-color-gray]]*\/"
}
@var color custom-color-gray "Custom gray color" "#c3c3c3"
==/UserStyle== */

@-moz-document regexp("https?://.*"), regexp("moz-extension://.*"), regexp("chrome-extension://.*") {

/*Theme made by RaitaroH @https://gitlab.com/RaitaroH*/

/*GNU General Public License v3.0*/

	/*Main color variables*/
	:root
	{
		/*User colors*/
		--main-color: /*[[mainColor]]*/ !important;
		--main-background: /*[[mainBackground]]*/ !important;
		--second-background: /*[[secondBackground]]*/ !important;
		--hover-background: /*[[hoverBackground]]*/ !important;
		--main-text: /*[[mainText]]*/ !important;
		--dimmer-text: /*[[dimmerText]]*/ !important;

		--shadow: 0 2px 3px 0 /*[[colorShadow]]*/ !important;
		--red: /*[[colorRed]]*/ !important;
		--green: /*[[colorGreen]]*/ !important;
		--yellow: /*[[colorYellow]]*/ !important;
		--orange: /*[[colorOrange]]*/ !important;
		--blue: /*[[colorBlue]]*/ !important;
		--cyan: /*[[colorCyan]]*/ !important;
		--purple: /*[[colorPurple]]*/ !important;
		--pink: /*[[colorPink]]*/ !important;
		--gray: /*[[colorGray]]*/ !important;
		
	}
	/*Changed text highlight*/
	::selection
	{
		background: var(--main-color) !important;
		color: var(--main-text) !important;
	}
	::-moz-selection
	{
		background: var(--main-color) !important;
		color: var(--main-text) !important;
	}
}